.ant-tabs {
  .ant-tabs-nav {
    .ant-tabs-tab.ant-tabs-tab-active {
      .ant-tabs-tab-btn {
        color: black;
        font-weight: 600;
      }
    }

    .ant-tabs-tab {
      .ant-tabs-tab-btn {
        color: #6b6a6b;
      }
    }

    .ant-tabs-ink-bar {
      height: 2.5px;
    }
  }

  .ant-tabs-nav::before {
    border-bottom: none;
  }
}
