.ant-table-wrapper {
  width: 100%;
  height: 100%;

  table {
    border-spacing: 0 16px;

    .ant-table-thead {
      text-align: center;

      .ant-table-cell {
        font-weight: 700;
        text-align: center;
        background: none;
        border: none;
      }

      .ant-table-cell::before {
        width: 0 !important;
      }

      th:first-of-type {
        text-align: left;
      }
    }

    .ant-table-tbody {
      font-size: 12px;
      font-weight: 500;
      text-align: center;

      .ant-table-row {
        background-color: #ffffff;
        border: 1px solid #e2e2e2;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 6px;

        .ant-table-cell {
          text-transform: capitalize;
          font-weight: 500;
        }

        td:last-of-type {
          text-align: right;
        }
      }
    }
  }

  .ant-btn {
    border: none;
    background: none;
    box-shadow: none;
  }

  .ant-btn:hover {
    background: #fafafa;
  }

  .ant-pagination-prev,
  .ant-pagination-next {
    a {
      font-size: 12px;
      font-weight: 700;
      font-family: "Manrope", sans-serif;
    }
  }

  .ant-pagination-item {
    a {
      font-size: 12px;
      font-weight: 700;
      color: #ffffff;
    }
  }

  .ant-pagination-item-active {
    background-color: #d2a651;
    border-color: #d2a651;
  }
}
