@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&family=Spectral:wght@400;500;600;700&display=swap");

#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.ant-layout {
  height: 100vh;

  .ant-layout-header {
    display: flex;
    align-items: center;

    .header-container {
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 42px;

      h1 {
        font-size: 24px;
        font-weight: 700;
        margin: 0;
      }

      button {
        font-size: 14px;
        font-weight: 700;
      }
    }
  }

  .ant-layout-content {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 16px 24px 16px;
    background-color: white;

    .content-navigation {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px;
      border-bottom: 2px solid #ededed;

      .search-box {
        width: 280px;
        .ant-input {
          font-size: 16px;
          font-weight: 600;
          height: 32px;
          background-color: #ededed;
          border: none;
        }

        .ant-input-group-addon {
          .ant-btn {
            background-color: #ededed;
            border: none;
          }

          .ant-input::placeholder {
            color: #a0a0a0;
          }
        }
      }

      .filter-box {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;

        input,
        input::placeholder,
        .ant-select-selection-item,
        .ant-selection-search-input,
        .ant-select-selection-placeholder,
        .ant-select-item-option-content {
          color: #231e20;
          font-size: 12px;
          font-weight: 700;
        }

        .ant-btn {
          background-color: #ededed;
          color: #231e20;
          font-weight: 700;
        }

        .ant-btn:hover {
          background-color: #f4b205;
        }

        .current-display-btn {
          background-color: #f1e3c9;
        }

        .ant-select-arrow {
          color: #231e20;
        }
      }
    }

    .main-content {
      height: 100%;
      display: flex;
      gap: 42px;
      margin-top: 40px;
      padding: 0 54px 0 54px;

      .ant-spin-nested-loading {
        height: 100%;

        .ant-spin-container {
          height: 100%;
          display: flex;
          flex-direction: column;

          .ant-table {
            flex: 1;
          }

          .ant-pagination {
            flex: 0;
          }
        }
      }
    }
  }
}
