.billing-info-title-container {
  color: #231e20;
  text-align: center;
  margin-top: 40px;

  .title {
    font-family: "Spectral", serif;
    font-size: 24px;
    font-weight: 700;
  }

  .subtitle {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
  }
}

.billing-info-step {
  width: 660px;
  margin: auto;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  gap: 60px;

  .ant-upload {
    width: 100% !important;

    .ant-btn {
      height: auto;
      width: 100%;
      padding: 10px;
      border-width: 2px;

      span {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }

  label {
    font-size: 16px;
    font-weight: 700;
  }

  .ant-form-item {
    margin-bottom: 16px;
    border-width: 2px;

    .ant-input-affix-wrapper,
    textarea {
      border-width: 2px;
    }
  }

  .ant-picker {
    width: 100%;
    border-width: 2px;
  }

  .side-by-side-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    .ant-form-item {
      flex: 1;
    }
  }

  .billing-address-label {
    font-size: 14px;
    font-weight: 700;
    color: #c8c3c8;
  }
}
